fastapi[all]
gunicorn
uvicorn
python-dotenv
firebase-admin
torch==2.1.0
torchvision==0.16.0
timm
numpy==1.24.3
pillow
albumentations==1.3.0
tensorflow>=2.13.0
scikit-learn
matplotlib
opencv-contrib-python-headless==4.8.1.78
ultralytics
requests
mediapipe==0.10.5
