fastapi[all]
gunicorn
uvicorn
python-dotenv
firebase-admin
torch
torchvision
timm
numpy
pillow
albumentations
tensorflow>=2.6.0
opencv-python-headless
scikit-learn
matplotlib
opencv-python
ultralytics